<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mail</title>
  </head>

  <body>
    <table width="100%">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table
              width="600px"
              cellpadding="0"
              cellspacing="0"
              border="0"
              bgcolor="#f4f5f5"
            >
              <tbody>
                <tr>
                  <td
                    style="padding-left:40px; padding-top:40px; font-size:25px; font-weight:bold;"
                  >
                    Votre demande d'inscription
                  </td>
                  <td width="150px;" height="80px">
                    nom prenom
                  </td>
                </tr>
                <tr>
                  <td style="padding-left:40px;" height="6px">
                    url
                  </td>
                </tr>
                <tr height="45px"></tr>
                <tr>
                  <td style="padding-left:40px;">
                    Madame, Monsieur, voici l'url de validation
                  </td>
                  <td width="150px" height="105px">
                    <img src="cid:piece-jointeId" />
                  </td>
                </tr>
                <tr height="40px"></tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
  <style>
    body {
      font-family: 'Arial';
    }
  </style>
</html>
